<%# <img src="app/assets/images/icons/Paper.svg" alt=""> %>
<%# <h1>Applications</h1> %>
<% if current_user.waiter? %>

  <div class="d-none">
    <div class="d-flex flex-row">
      <div class="m-3 p-3">
          <h3>Restaurants you are interested in</h3>
            <ul>
              <%= render 'card_application' %>
            </ul>
      </div>
    </div>
  </div>

 <% current_user.waiter_applications_received.each do |application| %>
          <ul>
            <li>
              <h3>
                <%= application.id %> <%= application.restaurant.restaurant_name %> <%= application.status %>
              </h3>
            </li>
            <h3><%= application.start_date %></h3>
            <h3><%= application.end_date %></h3>
            <%= link_to "Approve", approve_path(application), method: 'patch', data: { confirm: "Are you sure you want to approve"}, class:"btn btn-primary" %>
            <%= link_to "Reject", reject_path(application), method: 'patch', data: { confirm: "Are you sure you want to reject"}, class:"btn btn-primary" %>
          </ul>
  <% end %>

<% else %>

  <div class="d-none">
    <div class="d-flex flex-row">
      <div class="m-3 p-3">
          <h3>Waiters interested in you</h3>
            <ul>
              <% render 'card_application' %>
            </ul>
      </div>
    </div>
  </div>

  <% current_user.restaurant_applications_received.each do |application| %>
    <ul>
      <li>
        <h3>
          <%= application.id %> <%= application.restaurant.restaurant_name %> <%= application.status %>
        </h3>
      </li>
      <h3><%= application.start_date %></h3>
      <h3><%= application.end_date %></h3>
      <%= link_to "Approve", approve_path(application), method: 'patch', data: { confirm: "Are you sure you want to approve"}, class:"btn btn-primary" %>
      <%= link_to "Reject", reject_path(application), method: 'patch', data: { confirm: "Are you sure you want to reject"}, class:"btn btn-primary" %>
    </ul>
  <% end %>

<% end %>
