<div class="application">

<% if current_user.restaurant? %>
  <% current_user.created_applications.each do |application| %>

    <div class="card-head">
      <% if application.waiter.avatar.attached? %>
        <%= cl_image_tag application.waiter.avatar.key %>
        <div class="rating">
          <h3>5.4</h3>
        </div>
      <% else %>
        <div class="rating">
          <h3>5.4</h3>
        </div>
      <% end %>
    </div>

    <div class="card-body">
      <h3 class="name"><%= application.waiter.first_name %> <%= application.waiter.last_name %></h3>
      <div class="desc">
        <p class="short-summary"><strong><%= application.waiter.summary %></strong></p>
        <p class="location"><%= render 'icons/location' %><%= application.waiter.address %></p>
        <div class="card-foot">
          <p class="type"><%= render 'icons/info' %><%= application.waiter %></p>
        </div>
      </div>
    </div>
  <% end %>

<% else %>

 <% current_user.created_applications.each do |application| %>
    <% if application.restaurant.rate <= 16 %>
      <% @rate_count = 1 %>
    <% elsif application.restaurant.rate > 16 && application.restaurant.rate <= 21 %>
      <% @rate_count = 2 %>
    <% else %>
      <% @rate_count = 3 %>
    <% end %>

    <div class="card-head">
      <% if application.restaurant.photos.attached? %>
        <%= cl_image_tag application.restaurant.photos[0].key %>
        <div class="rating">
          <h3>5.4</h3>
        </div>
      <% else %>
        <div class="rating">
          <h3>5.4</h3>
        </div>
      <% end %>
    </div>

    <div class="card-body">
      <h3 class="name"><%= application.restaurant.restaurant_name %></h3>
      <div class="desc">
        <p class="short-summary"><strong><%= application.restaurant.summary %></strong></p>
        <p class="location"><%= render 'icons/location' %><%= application.restaurant.address %></p>
        <div class="card-foot">
          <p class="type"><%= render 'icons/info' %><%= application.restaurant.restaurant_type %></p>
          <p class="rate">
            <% @rate_count.times do %>
              <%= render 'icons/rate'%>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

</div>
