<div class="d-none ">
  <h1><%= render "icons/chat" %>Messages</h1>
  <div class="chatroom" data-controller="chatbox-view">

      <div class="tabs" data-chatbox-view-target="tabs">
        <% chatrooms.each do |chatroom| %>
          <div class="tab" data-action="click->chatbox-view#select">
            <% if current_user.waiter? %>
              <%= image_tag  chatroom.restaurant.photos[0], class: "avatar" %>
              <p><%= chatroom.restaurant.restaurant_name %></p>
            <% else %>
              <%= image_tag  chatroom.waiter.avatar, class: "avatar" %>
              <p><%= chatroom.waiter.nickname %></p>
            <% end %>
          </div>
        <% end %>
      </div>


        <%# <a href="#" data-chatbox-view-target="close" class="d-none"
            data-action="click->chatbox-view#hideChat">[X]
        </a> %>
        <div data-chatbox-view-target="pages" class="chatboxes">
          <% chatrooms.each_with_index do |chatroom,i| %>
            <div  class="chatbox <%= i == 0 ? "": "d-none" %>">
              <%= render 'shared/chatbox', chatroom: chatroom %>
            </div>
          <% end %>
        </div>



  </div>
</div>
