<div class="pannel">
  <%= link_to  root_path, class: "logo" do %>
      <%= render 'icons/logo'%>
  <% end %>
  <div data-pannel-target="tabs">
    <div class="tab" data-action="click->pannel#select"><%= render 'icons/profile' %>Profile</div>
    <div class="tab" data-action="click->pannel#select"><%= render 'icons/application' %>Applications</div>
    <div class="tab" data-action="click->pannel#select"><%= render 'icons/application' %>Messages</div>
    <div class="tab" data-action="click->pannel#select"><%= render 'icons/application' %>Calendar</div>
    <% if current_user.restaurant? %>
      <div class="tab" data-action="click->pannel#select"><%= render 'icons/application' %>Waiters</div>
    <% end %>
  </div>
</div>
