<div class="d-none profile">
  <% if current_user.waiter? %>
    <h1><%= render "icons/profile" %>Waiter</h1>
    <div class="profile-head">
      <div class="image">
        <% if current_user.avatar.key.nil? %>
          <%= image_tag "blankUser.png" %>
        <% else %>
          <%= cl_image_tag @user.avatar.key %>
        <% end %>

        <div class="in-shadow"></div>
      </div>
      <div class="desc">
        <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
        <div class="attr">
          <div>
            <p><%= render 'icons/location' %><%= current_user.address %></p>
            <p><%= render 'icons/rate' %><%= current_user.phone %></p>
            <p><%= render 'icons/rate' %><%= current_user.email %></p>
          </div>
        </div>

      </div>
        <div class="btn btn-light">Edit</div>
    </div>
    <div class="summary">
      <h2>Summary</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem distinctio fugit aperiam neque sunt, dolores nisi earum temporibus aliquam reprehenderit odio delectus facilis repellat assumenda tempora? Voluptatum obcaecati inventore doloremque.</p>
    </div>
    <div class="summary">
      <h2>Description</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consequuntur et aperiam ea iste ut ipsum, ullam voluptatibus minima quaerat mollitia suscipit laudantium, asperiores sapiente facere aspernatur velit nam similique! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem distinctio fugit aperiam neque sunt, dolores nisi earum temporibus aliquam reprehenderit odio delectus facilis repellat assumenda tempora? Voluptatum obcaecati inventore doloremque.</p>
    </div>>
  <% else %>
    <h1><%= render "icons/profile" %>Restaurant</h1>
    <div class="profile-head">
      <div class="image">
        <%= cl_image_tag @user.photos[0].key %>
        <div class="in-shadow"></div>
      </div>
      <div class="desc">
        <h2><%= current_user.restaurant_name %></h2>
        <div class="attr">
          <div>
            <p><%= render 'icons/location' %><%= current_user.address %></p>
            <p><%= render 'icons/rate' %><%= current_user.phone %></p>
            <p><%= render 'icons/rate' %><%= current_user.email %></p>
            <p><%= render 'icons/rate' %><%= current_user.rate %>$/hour</p>
          </div>
          <div>
            <p><%= render 'icons/info' %><%= current_user.restaurant_type %></p>
            <p>
              <%= render 'icons/rate' %>
              <%= link_to "Placeholder.com", url_for(current_user.website), :target => "_blank" %>
            </p>
          </div>
        </div>

      </div>
        <div class="btn btn-light">Edit</div>
    </div>
    <div class="all-imgs" >
      <%  @user.photos.each do |photo| %>
        <div class="small-img">
          <%= cl_image_tag photo.key %>
        </div>
      <% end %>
    </div>
    <div class="summary">
      <h2>Summary</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem distinctio fugit aperiam neque sunt, dolores nisi earum temporibus aliquam reprehenderit odio delectus facilis repellat assumenda tempora? Voluptatum obcaecati inventore doloremque.</p>
    </div>
    <div class="summary">
      <h2>Description</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consequuntur et aperiam ea iste ut ipsum, ullam voluptatibus minima quaerat mollitia suscipit laudantium, asperiores sapiente facere aspernatur velit nam similique! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem distinctio fugit aperiam neque sunt, dolores nisi earum temporibus aliquam reprehenderit odio delectus facilis repellat assumenda tempora? Voluptatum obcaecati inventore doloremque.</p>
    </div>
  <% end %>
</div>
