  <div class="form-inputs">

    <%= f.input :restaurant_name,
                required: false,
                input_html: { autocomplete: "restaurant_name" }%>
    <%= f.input :website,
                required: false,
                input_html: { autocomplete: "website" }%>
    <%= f.input :phone,
                required: false,
                input_html: { autocomplete: "phone" }%>
    <%= f.input :address,
                required: false,
                input_html: { autocomplete: "address" }%>
    <%= f.input :summary,
                required: false,
                input_html: { autocomplete: "summary" }%>
    <%= f.input :rate,
                required: false,
                input_html: { autocomplete: "rate" }%>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>

  </div>
