
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: false,
                  input_html: { autocomplete: "first_name" }%>
      <%= f.input :last_name,
                  required: false,
                  input_html: { autocomplete: "last_name" }%>
      <%= f.input :address,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "address" }%>
      <%= f.input :phone,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "phone" }%>
      <%= f.input :summary,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "summary" }%>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    </div>
  <% end %>
