
<div class="waiter-card">
  <div class="card-head">
    <% if wait.avatar.attached? %>
      <%= cl_image_tag wait.avatar.key %>
      <div class="rating">
        <h3>5.4</h3>
      </div>
    <% else %>
      <div class="rating">
        <h3>5.4</h3>
      </div>
    <% end %>
  </div>

  <div class="card-body">
    <div class="name">
      <h3><%= wait.first_name %><%= wait.last_name %></h3>
    </div>
  </div>

  <div class="card-tail">
    <div class="desc">
      <p class="location"><%= render 'icons/location' %><%= wait.address %></p>
      <p class="type"><%= render 'icons/phone' %><%= wait.phone %></p>
      <p class="type"><%= render 'icons/info' %><%= wait.email %></p>
      <p class="type"><%= render 'icons/info' %>Resume.pdf</p>
    </div>
  </div>

</div>
