
<div class="waiter-card" data-controller="summary">
  <div class="top">
    <div class="card-head">
      <% if wait.avatar.attached? %>
        <%= cl_image_tag wait.avatar.key %>
        <div class="rating">
          <h3><%= wait.waiter_avg %></h3>
        </div>
      <% else %>
        <div class="rating">
          <h3><%= wait.waiter_avg %></h3>
        </div>
      <% end %>
    </div>

    <div class="card-body">
      <div class="name">
        <h3><%= wait.first_name %> <%= wait.last_name %></h3>
      </div>
      <div class="mid">
        <div class="attr">
            <p class="location"><%= render 'icons/location' %><%= wait.address %></p>
            <p class="type"><%= render 'icons/phone' %><%= wait.phone %></p>
            <p class="type"><%= render 'icons/info' %><%= wait.email %></p>
            <p class="type"><%= render 'icons/document' %>
            <% if wait.cv.attached? %>
              <%= link_to 'CV', wait.cv %>
            <% end %></p>
        </div>
        <div class="bottom">
          <div class="summary-tab">
            <a>Ratings</a>
            <div class="arrow" data-action="click->summary#open_ratings"><%= render 'icons/arrow' %></div>
          </div>
          <div class="summary-tab">
            <a>Summary</a>
            <div class="arrow" data-action="click->summary#open"><%= render 'icons/arrow' %></div>
          </div>
          <% @app = Application.where(waiter: wait).where(restaurant: current_user) %>
          <% if @app.count.zero? %>
            <div class="consider" data-controller="picker">
              <% @application.waiter = wait %>
              <%= simple_form_for(@application, url: apply_resto_path(wait), method: :post) do |f| %>
                <div class="dates-pick">
                  <div class="date-pick">
                    <%= f.input :start_time, placeholder: "Start Date", as: :string, required: false, input_html: {class: "datepicker"},data: { confirm: "Are you sure you want to apply"}  %>
                  </div>
                  <div class="date-pick">
                    <%= f.input :end_time, placeholder: "End Date", as: :string, required: false, input_html: {class: "datepicker"},data: { confirm: "Are you sure you want to apply"}  %>
                  </div>
                </div>
                <%= f.submit 'Consider', class: "btn btn-primary" %>
              <% end %>
            </div>
          <% else %>
            <h3><%= @app.take.status.capitalize %></h3>
          <% end %>
        </div>
      </div >


    </div>
  </div>
  <div class="summary d-none" data-summary-target="summary">
    <h3>Summary: </h3>
    <p><%= wait.description %></p>
  </div>
  <div class="ratings d-none" data-summary-target="ratings">
        <% wait.waiter_reviews.each do |application|  %>
        <div class="ratinge">
          <div class="rating-top">

              <%= image_tag  application.restaurant.photos[0], class: "avatar" %>
              <%= application.restaurant.restaurant_name %>
              <h3><%= application.restaurant_rating %></h3>
          </div>
          <div class="bottom">
            <p><%= application.restaurant_comment %></p>
          </div>
        </div>

        <% end %>
  </div>

</div>
