<%# REMINDER: CAN USE METHODS: %>
<%# created_applications, applications_including_restaurant, applications_including_waiter
waiter_applications_received, restaurant_applications_received, waiter?, restaurant? %>

<h1>WAITERS SHOW PAGE</h1>
<%= @waiter.first_name %>
<%= @waiter.last_name %>


<%= link_to 'HOME', root_path, class:"btn btn-primary" %>
<%= link_to 'BACK', waiters_path, class:"btn btn-primary" %>

<%= link_to 'HIRE', apply_resto_path, method: 'create', data: { confirm: "Are you sure you want to apply"}, class:"btn btn-primary" %>
