  <%= render 'shared/banner'  %>

  <h1 class="text-center">Wait here</h1>
  <%= render 'shared/carousel' %>

  <h2 class="text-center">Genres</h2>

<div class="genres">
  <div class="container">
    <%= render "shared/category_card", type: "french" %>
    <%= render "shared/category_card", type: "american" %>
    <%= render "shared/category_card", type: "canadian" %>
    <%= render "shared/category_card", type: "italian" %>
    <%= render "shared/category_card", type: "korean" %>
  </div>
</div>
