  <%= render 'shared/banner'  %>


    <h1 class="text-center">Wait here</h1>
    <div class="home">
      <div class="container">
        <% @restaurants.each do |restaurant|%>
          <%= render 'shared/card', resto: restaurant %>
        <% end %>
      </div>
    </div>

  <%= render 'shared/footer' %>

  <%# <%= link_to  'RESTAURANTS INDEX', restaurants_path  %>
  <%# <%= link_to 'WAITERS INDEX', waiters_path, class:"btn btn-light" %>
  <%# <div class="btn btn-primary">Button</div> %>
  <%# <div class="btn btn-light">Button</div> %>
  <%# <div class="btn btn-dark">Button</div> %>
  <%# <div class="btn btn-gray">Button</div> %>
  <%# <div class="btn-search">Button</div> %>
