<%# REMINDER: CAN USE METHODS: %>
<%# created_applications, applications_including_restaurant, applications_including_waiter
waiter_applications_received, restaurant_applications_received, waiter?, restaurant? %>
<div class="show-body">
  <%= link_to 'Back', restaurants_path, class: "btn btn-gray" %>
  <div class="info">
    <div class="carousel" data-controller="carousel">
      <div class="main-image" data-carousel-target="main">
        <%= cl_image_tag @restaurant.photos[0].key %>
        <div class="arrows">
          <div class="arrow" id="mirror" data-action="click->carousel#back"><%= render 'icons/arrow' %></div>
          <div class="arrow" data-action="click->carousel#forward"><%= render 'icons/arrow' %></div>
        </div>
      </div>
      <div class="all-imgs" data-carousel-target="images">
        <%  @restaurant.photos.each do |photo| %>
          <div class="small-img" data-action="click->carousel#chose">
            <%= cl_image_tag photo.key %>
            <div class="gradient"></div>
            <div class="bar d-none">
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="show-attr">
      <h2 class="name"><%= @restaurant.restaurant_name %></h2>
      <div class="attr-card">
        <p><%= render 'icons/location' %><%= @restaurant.address %></p>
        <p><%= render 'icons/info' %><%= @restaurant.restaurant_type %></p>
        <p><%= render 'icons/rate' %><%= @restaurant.rate %>$/hour</p>
        <p>
          <%= render 'icons/rate' %>
          <%= link_to "Placeholder.com", url_for(@restaurant.website), :target => "_blank" %>
        </p>
        <p><%= render 'icons/rate' %><%= @restaurant.phone %></p>
      </div>
      <div class="summary">
        <h3>Summary</h3>
        <p><%= @restaurant.summary %></p>
      </div>
      <div class="apply" data-controller="picker">
        <%= simple_form_for(@application, url: apply_path, method: :post) do |f| %>
              <div class="dates-pick">
                <div class="date-pick">
                  <%= f.input :start_time, placeholder: "Start Date", as: :string, required: false, input_html: {class: "datepicker"},data: { confirm: "Are you sure you want to apply"}  %>
                </div>
                <div class="date-pick">
                  <%= f.input :end_time, placeholder: "End Date", as: :string, required: false, input_html: {class: "datepicker"},data: { confirm: "Are you sure you want to apply"}  %>
                </div>
              </div>
            <%= f.submit 'Apply', class: "btn btn-primary" %>
          <% end %>
        <div></div>
        <%# <%= link_to 'APPLY NOW', apply_path, method: 'create',class: "btn btn-primary",data: { confirm: "Are you sure you want to apply"} %>
      </div>
    </div>
  </div>
  <div class="summary">
    <h3>Description</h3>
    <p><%= @restaurant.description %></p>
  </div>
</div>
<div class="show-legs">
  <h2>Similar Restaurants - <%= @restaurant.restaurant_type %></h2>
  <div class="lil-cards">
    <% @restaurants.each do |restaurant|%>
      <%= render 'shared/card', resto: restaurant %>
    <% end %>
  </div>
</div>
